.cardContainer{
display: flex;
justify-content: space-around;
align-items: center;
background-color: white;
border-radius: 5px;
padding: 0 1rem;
margin: 1rem;
}

.textContainer{
    flex: 8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.textContainer h1{
    font-size: 30px;
}
.textContainer p{
    font-size: 16px;
    color:grey;
}


.image{
    flex: 4;
    height: 100px;
    width: 100px;
}