.courseOuterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:3rem;
    padding: 1rem;
}
.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
    width: 80%;
}
.courseHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.6rem;
    font-size: 32px;
    font-weight: bolder;
}

.imageContainer{
    width: 90%;
    display: flex;
    gap:1rem;
    /* border: 1px red solid; */
}
.leftContainer{
    /* position: absolute; */

}
/* .courseComponent{
    
} */

.righContainer{
    /* position: relative; */
    display: flex;
    align-items: center;
    gap:2rem;
    margin-left: -10rem;
    /* left: 40%; */
    /* width: auto; */
    /* border: 1px green solid; */
}
.leftCourses,.rightCourses{
    /* width: fit-content; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 15px;
    background: white;
}

.libraryImage{
width: 90%;
height: 400px;
border-radius: 10px;
}
.horizontalLine{
    border-top:3px dotted rgb(233, 6, 67);
}
.mainHeading{
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(233, 6, 67);
}
.courseList{
    display: flex;
    align-items: center;
    gap:1rem;
    margin: 0.3rem;
}
.courseImage{
    height: 50px;
    width: 60px;
}

@media (max-width:950px) {
    .courseHeading{
        flex-direction: column;
        gap:0.2rem;
    }
    .imageContainer{

        flex-direction: column !important;
    }
    .libraryImage{
        
    }
    .righContainer{
        margin-left: -0;
    }
    .leftContainer{
        flex: 1;
    }
}

@media (max-width:581px) {
    .courseHeading{
        flex-direction: column;
        gap:0.2rem;
    }
    .imageContainer{

        flex-direction: column !important;
    }
    .leftContainer{
        display: flex;
        flex: 1;
    }
    .libraryImage{
        /* height: 25rem; */
        width: 20rem;
        /* border: 1px red solid; */
    }
    .righContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-left: -10rem; */
    }
}